<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
    
  </style>
  
      <div class="dashboardBg bg-no-repeat bg-cover">
        <!-- Start Header -->
        <app-header></app-header>
    
        <!-- End Header -->
        <div
            class="w-full h-full bg-white flex items-start md:pl-0 pl-5 2xl:pr-20 xl:pr-10 pr-5 2xl:gap-[84px] xl:gap-10 gap-5 sm:mt-[84px] mt-[72px] relative bg-[url('../images/dashboardbodybg.png')] bg-no-repeat bg-cover bg-fixed">
            <button type="button"
                class="w-[38px] h-[38px] rounded-[10px] bg-white md:fixed absolute md:top-28 top-5 2xl:left-[370px] md:left-[280px] flex justify-center items-center">
                <img src="../assets/images/backArrow.png">
            </button>
  
           <app-navbar></app-navbar>
  
        <div class="ml-auto 2xl:w-[calc(100%-420px)] md:w-[calc(100%-340px)] w-full flex lg:flex-nowrap flex-wrap">
                <!-- Start DashBoard Body -->
                <div class="overflow-hidden w-full md:mt-0 mt-10 mr-auto 2xl:w-[calc(100%-400px)] lg:w-[calc(100%-340px)]"
                    id="mobileBg">
                    <div class="w-full w-dashBoardTCustomWidth pb-10">
                        <div class="flex items-center w-full lg:my-14 md:my-6 mt-8 mb-6 2xl:gap-10 sm:gap-6 gap-4">
                            <a href="#">
                                <img src="../assets/images/leftArrow.png" alt="leftarrow" class="sm:w-auto w-2 sm:h-auto h-4">
                            </a>
                            <h5
                                class="font-inter font-semibold xl:text-[35px] sm:text-2xl text-xl xl:leading-[42px] text-black">
                                In Process Orders > #8AB123454S
                            </h5>
                        </div>
                        <div class="">
                            <div
                                class="relative overflow-x-auto scrollbar-hidden border border-[#dadada] rounded-[10px] bg-white">
                                <h5 class="text-xl leading-6 font-semibold text-[#2B2B2B] p-5 font-inter">
                                    Design 1</h5>
                                <table
                                    class="text-sm text-left rtl:text-right w-full min-w-max overflow-auto table-fixed">
                                    <thead class="">
                                    </thead>
                                    <tbody>
                                        <tr
                                            class="text-sm leading-[18.15px] py-3 font-inter text-black border-t border-[#EBEBEB]">
                                            <th scope="row" class="w-5 h-5">
                                                <div
                                                    class="w-5 h-5 bg-[#FDD4D5] rounded-sm font-inter font-bold text-black flex justify-center items-center">
                                                    01</div>
                                            </th>
                                            <td class="pl-5 pr-8 py-3 w-28">
                                                <div class="w-14 h-14 rounded-[15px]">
                                                    <img src="../assets/images/processDesign_1.png" alt="processdesing1">
                                                </div>
                                            </td>
                                            <td class="pr-8 py-3">
                                                Shirts designs here, please approve this design, if you don’t
                                                like it
                                                then press revision.
                                            </td>
                                            <td class="py-3 pr-5 w-28">
                                                <div
                                                    class="bg-[#0FE177] py-3 text-white text-center text-[10px] font-bold w-20 h-4 rounded-xl leading-[0px]">
                                                    Approved </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="px-5">
                                                <table
                                                    class="text-sm text-left rtl:text-right w-auto table-fixed overflow-auto">
                                                    <thead
                                                        class="text-[#7B7B7B] text-[10px] leading-3 font-inter bg-[#F4F4F4]">
                                                        <tr class="h-[30px]">
                                                            <th scope="col" class="pl-5 rounded-ss-[15px] w-[22%]">
                                                                Item Name
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class="w-[22%]">
                                                                Size
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class="w-[22%]">
                                                                Quantity
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class="w-[22%]">
                                                                Number
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class=" w-20 rounded-se-[15px]">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="borer border-[#E4E4E4]">
                                                        <!-- <tr
                                                            class="h-10 font-inter font-semibold text-black text-xs leading-[14px] border border-[#e4e4e4]">
                                                            <td scope="row" class="pl-5">
                                                                Muhammad Kashif </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                Extra Small </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                01 Piece
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                11 Number
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="pr-5">
                                                                <div class="flex gap-2 items-center justify-end">
                                                                    <a href="#" class="cursor-pointer">
                                                                        <img src="../assets/images/edit.png" alt="edit">
                                                                    </a>
                                                                    <a href="#" class="cursor-pointer">
                                                                        <img src="../assets/images/delete.png" alt="delete">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr> -->
                                                        @for(items of dynamicArray; track items;){
                                                        <tr
                                                            class="h-10 font-inter font-semibold text-black text-xs leading-[14px] border border-[#e4e4e4]">
                                                            <!-- <td scope="row" class="pl-5">
                                                                <div class="h-7 cursor-pointer relative">
                                                                    <select name="itemnumber" id=""
                                                                        class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 pr-6 py-1.5 shadow-tableinputShadow bg-white appearance-none">
                                                                        <option value="Item Number" selected>Item Name
                                                                        </option>
                                                                        <option value="Item Number">A
                                                                        </option>
                                                                        <option value="Item Number">B
                                                                        </option>
                                                                    </select>
                                                                    <img src="../assets/images/add_Icon.png" alt="addIcon"
                                                                        class="absolute top-2 right-2 ">
                                                                </div>
                                                            </td> -->
                                                            <td class="">
                                                                <input type="text" placeholder="Item Name" id="name"
                                                                required
                                                                [(ngModel)]="items.name" name="name"
                                                                (keyup)="AddRowData(items, items.id)"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                <input type="number" placeholder="Size"
                                                                    (keyup)="AddRowData(items, items.id)"
                                                                    [(ngModel)]="items.size" name="size"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                <input type="number" placeholder="Quantity"
                                                                (keyup)="AddRowData(items, items.id)"
                                                                [(ngModel)]="items.quantity" name="quantity"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                <input type="number" placeholder="Number"
                                                                (keyup)="AddRowData(items, items.id)"
                                                                [(ngModel)]="items.number" name="number"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            
                                                            <td class="pr-5">
                                                                <button (click)="removeRow(items.id)"
                                                                    class="text-xs h-7 shadow-tableinputShadow">
                                                                    <img src="../assets/images/delete.png" alt="delete">
                                                                    </button>
                                                                <!-- <button (click)="removeRow(items)"
                                                                    class="text-xs leading-[14px] text-white bg-[#559BFB] rounded-[5px] w-[60px] h-7 shadow-tableinputShadow">Save</button> -->
                                                            </td>
                                                        </tr>
                                                        }
                                                        <tr
                                                            class="h-10 font-inter font-semibold text-black text-xs leading-[14px] border border-[#e4e4e4]">
                                                            <td class="pl-5">
                                                                <button (click)="AddRow()"
                                                                    class="bg-[#FFCB03] flex gap-2 items-center justify-center text-xs leading-[14px] font-semibold px-2.5 py-2 rounded-[5px]">
                                                                    <img src="../assets/images/tablebtnIcon.png" alt="btnIcon">
                                                                    <span>Add New Row</span>
                                                                </button>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="h-3"></tr>
                                        <tr
                                            class="text-sm leading-[18.15px] py-3 font-inter text-black border-t border-[#EBEBEB]">
                                            <th scope="row" class="w-5 h-5">
                                                <div
                                                    class="w-5 h-5 bg-[#FDD4D5] rounded-sm font-inter font-bold text-black flex justify-center items-center">
                                                    02</div>
                                            </th>
                                            <td scope="row" class="pl-5 pr-8 py-3 w-28">
                                                <div class="w-14 h-14 rounded-[15px]">
                                                    <img src="../assets/images/processDesign_2.png" alt="processdesing1">
                                                </div>
                                            </td>
                                            <td class="pr-8 py-3">
                                                Shirts designs here, please approve this design, if you don’t
                                                like it
                                                then press revision.
                                            </td>
                                            <td class="py-3 pr-5 w-28">
                                                <div
                                                    class="bg-[#0FE177] py-3 text-white text-center text-[10px] font-bold w-20 h-4 rounded-xl leading-[0px]">
                                                    Approved </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="px-5">
                                                <table
                                                    class="text-sm text-left rtl:text-right w-auto table-fixed overflow-auto">
                                                    <thead
                                                        class="text-[#7B7B7B] text-[10px] leading-3 font-inter bg-[#F4F4F4]">
                                                        <tr class="h-[30px]">
                                                            <th scope="col" class="pl-5 rounded-ss-[15px] w-[22%]">
                                                                Item Name
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class="w-[22%]">
                                                                Size
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class="w-[22%]">
                                                                Quantity
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class="w-[22%]">
                                                                Number
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class=" w-20 rounded-se-[15px]">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="borer border-[#E4E4E4]">
                                                        <tr
                                                            class="h-10 font-inter font-semibold text-black text-xs leading-[14px] border border-[#e4e4e4]">
                                                            <td scope="row" class="pl-5">
                                                                Muhammad Kashif </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                Extra Small </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                01 Piece
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                11 Number
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="pr-5">
                                                                <div class="flex gap-2 items-center justify-end">
                                                                    <a href="#" class="cursor-pointer">
                                                                        <img src="../assets/images/edit.png" alt="edit">
                                                                    </a>
                                                                    <a href="#" class="cursor-pointer">
                                                                        <img src="../assets/images/delete.png" alt="delete">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr
                                                            class="h-10 font-inter font-semibold text-black text-xs leading-[14px] border border-[#e4e4e4]">
                                                            <td scope="row" class="pl-5">
                                                                <div class="h-7 cursor-pointer relative">
                                                                    <select name="itemnumber" id=""
                                                                        class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 pr-6 py-1.5 shadow-tableinputShadow bg-white appearance-none">
                                                                        <option value="Item Number" selected>Item Name
                                                                        </option>
                                                                        <option value="Item Number">A
                                                                        </option>
                                                                        <option value="Item Number">B
                                                                        </option>
                                                                    </select>
                                                                    <img src="../assets/images/add_Icon.png" alt="addIcon"
                                                                        class="absolute top-2 right-2 ">
                                                                </div>
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                <input type="text" placeholder="Item Number"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                <input type="text" placeholder="Item Number"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                <input type="text" placeholder="Item Number"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="pr-5">
                                                                <button
                                                                    class="text-xs leading-[14px] text-white bg-[#559BFB] rounded-[5px] w-[60px] h-7 shadow-tableinputShadow">Save</button>
                                                            </td>
                                                        </tr>
                                                        <tr
                                                            class="h-10 font-inter font-semibold text-black text-xs leading-[14px] border border-[#e4e4e4]">
                                                            <td class="pl-5">
                                                                <button
                                                                    class="bg-[#FFCB03] flex gap-2 items-center justify-center text-xs leading-[14px] font-semibold px-2.5 py-2 rounded-[5px]">
                                                                    <img src="../assets/images/tablebtnIcon.png" alt="btnIcon">
                                                                    <span>Add New Row</span>
                                                                </button>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="h-3"></tr>
                                        <tr
                                            class="text-sm leading-[18.15px] py-3 font-inter text-black border-t border-[#EBEBEB]">
                                            <th scope="row" class="w-5 h-5">
                                                <div
                                                    class="w-5 h-5 bg-[#FDD4D5] rounded-sm font-inter font-bold text-black flex justify-center items-center">
                                                    03</div>
                                            </th>
                                            <td scope="row" class="pl-5 pr-8 py-3 w-28">
                                                <div class="w-14 h-14 rounded-[15px]">
                                                    <img src="../assets/images/processDesign_3.png" alt="processdesing3">
                                                </div>
                                            </td>
                                            <td class="pr-8 py-3">
                                                Shirts designs here, please approve this design, if you don’t
                                                like it
                                                then press revision.
                                            </td>
                                            <td class="py-3 pr-5 w-28">
                                                <div
                                                    class="bg-[#0FE177] py-3 text-white text-center text-[10px] font-bold w-20 h-4 rounded-xl leading-[0px]">
                                                    Approved </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="px-5 pb-5">
                                                <table
                                                    class="text-sm text-left rtl:text-right w-auto table-fixed overflow-auto">
                                                    <thead
                                                        class="text-[#7B7B7B] text-[10px] leading-3 font-inter bg-[#F4F4F4]">
                                                        <tr class="h-[30px]">
                                                            <th scope="col" class="pl-5 rounded-ss-[15px] w-[22%]">
                                                                Item Name
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class="w-[22%]">
                                                                Size
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class="w-[22%]">
                                                                Quantity
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class="w-[22%]">
                                                                Number
                                                            </th>
                                                            <th class="w-2.5"></th>
                                                            <th scope="col" class=" w-20 rounded-se-[15px]">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="borer border-[#E4E4E4]">
                                                        <tr
                                                            class="h-10 font-inter font-semibold text-black text-xs leading-[14px] border border-[#e4e4e4]">
                                                            <td scope="row" class="pl-5">
                                                                Muhammad Kashif </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                Extra Small </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                01 Piece
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                11 Number
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="pr-5">
                                                                <div class="flex gap-2 items-center justify-end">
                                                                    <a href="#" class="cursor-pointer">
                                                                        <img src="../assets/images/edit.png" alt="edit">
                                                                    </a>
                                                                    <a href="#" class="cursor-pointer">
                                                                        <img src="../assets/images/delete.png" alt="delete">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr
                                                            class="h-10 font-inter font-semibold text-black text-xs leading-[14px] border border-[#e4e4e4]">
                                                            <td scope="row" class="pl-5">
                                                                <div class="h-7 cursor-pointer relative">
                                                                    <select name="itemnumber" id=""
                                                                        class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 pr-6 py-1.5 shadow-tableinputShadow bg-white appearance-none">
                                                                        <option value="Item Number" selected>Item Name
                                                                        </option>
                                                                        <option value="Item Number">A
                                                                        </option>
                                                                        <option value="Item Number">B
                                                                        </option>
                                                                    </select>
                                                                    <img src="../assets/images/add_Icon.png" alt="addIcon"
                                                                        class="absolute top-2 right-2 ">
                                                                </div>
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                <input type="text" placeholder="Item Number"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                <input type="text" placeholder="Item Number"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="">
                                                                <input type="text" placeholder="Item Number"
                                                                    class="h-7 w-full border border-[#FFDFE0] rounded-[5px] text-[#CBCBCB] text-xs leading-[14px] placeholder:text-[#CBCBCB] placeholder:text-xs placeholder:leading-[14px] px-2.5 py-1.5 shadow-tableinputShadow">
                                                            </td>
                                                            <td class="bg-transparent"></td>
                                                            <td class="pr-5">
                                                                <button
                                                                    class="text-xs leading-[14px] text-white bg-[#559BFB] rounded-[5px] w-[60px] h-7 shadow-tableinputShadow">Save</button>
                                                            </td>
                                                        </tr>
                                                        <tr
                                                            class="h-10 font-inter font-semibold text-black text-xs leading-[14px] border border-[#e4e4e4]">
                                                            <td class="pl-5">
                                                                <button
                                                                    class="bg-[#FFCB03] flex gap-2 items-center justify-center text-xs leading-[14px] font-semibold px-2.5 py-2 rounded-[5px]">
                                                                    <img src="../assets/images/tablebtnIcon.png" alt="btnIcon">
                                                                    <span>Add New Row</span>
                                                                </button>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End DashBoard Body -->

                <!-- Start Chat Section -->
                <aside
                    class="2xl:max-w-[476px] lg:max-w-80 w-full h-full 2xl:p-8 p-5 bg-white bg-opacity-90 shadow-SideMenuShadow lg:fixed right-0 font-inter">
                    <div class="h-full lg:pb-12 pb-6 overflow-auto scrollbar-hidden">
                        <p class="text-[21px] leading-[25.41px] font-semibold text-black">Order Conversation</p>
                        <div
                            class="2xl:mt-6 mt-5 bg-[#FD8387] rounded-[10px] w-full 2xl:h-36 h-32 relative flex justify-center items-center">
                            <img src="../assets/images/orderConversation_1.png" alt="conversation_1"
                                class="absolute left-0 top-0">
                            <img src="../assets/images/orderConversation_2.png" alt="conversation_1"
                                class="absolute left-0 bottom-0">
                            <div class="flex gap-2.5 items-center justify-center relative">
                                <div
                                    class="bg-white bg-opacity-50 rounded-[15px] text-white 2xl:text-[21px] text-lg leading-[25.41px] font-semibold 2xl:py-5 py-3 2xl:px-7 sm:px-5 px-3">
                                    <span>Tuesday</span>
                                </div>
                                <div
                                    class="bg-white bg-opacity-50 rounded-[15px] text-white 2xl:text-[21px] text-lg leading-[25.41px] font-semibold 2xl:py-5 py-3 2xl:px-7 sm:px-5 px-3">
                                    <span>Feb</span>
                                </div>
                                <div
                                    class="bg-white bg-opacity-50 rounded-[15px] text-white 2xl:text-[21px] text-lg leading-[25.41px] font-semibold 2xl:py-5 py-3 2xl:px-7 sm:px-5 px-3">
                                    <span>12</span>
                                </div>
                            </div>
                        </div>
                        <div class="2xl:mt-8 mt-5 h-1/2 overflow-auto scrollbar-hidden">
                            <div class="flex items-start gap-2 text-black">
                                <div class="2xl:w-[38px] w-8 2xl:h-[38px] h-8 bg-[#FD8387] rounded-full relative">
                                    <img src="../assets/images/youIntersect.png" alt="youIntersect"
                                        class="absolute left-0 bottom-0 2xl:w-auto w-6">
                                </div>
                                <div class="2xl:w-[calc(100%-38px)] w-[calc(100%-32px)]">
                                    <p class="text-base leading-5 font-semibold">You:</p>
                                    <p class="text-sm leading-5 mt-4">Send me the design now, so I will check all these
                                        design
                                        then decide which one is better for me.</p>
                                </div>
                            </div>
                            <div class="flex items-start gap-2 text-black 2xl:mt-7 mt-5">
                                <div class="2xl:w-[38px] w-8 2xl:h-[38px] h-8 bg-[#5D51D6] rounded-full relative">
                                    <img src="../assets/images/designerIntersect.png" alt="designerIntersect"
                                        class="absolute left-0 bottom-0 2xl:w-auto w-6">
                                </div>
                                <div class="2xl:w-[calc(100%-38px)] w-[calc(100%-32px)]">
                                    <p class="text-base leading-5 font-semibold">Designer:</p>
                                    <p class="text-sm leading-5 mt-4">Sending you the designs please check all.
                                        Many Thanks</p>
                                </div>
                            </div>
                            <div class="flex items-start gap-2 text-black 2xl:mt-7 mt-5">
                                <div class="2xl:w-[38px] w-8 2xl:h-[38px] h-8 bg-[#5D51D6] rounded-full relative">
                                    <img src="../assets/images/designerIntersect.png" alt="designerIntersect"
                                        class="absolute left-0 bottom-0 2xl:w-auto w-6">
                                </div>
                                <div class="2xl:w-[calc(100%-38px)] w-[calc(100%-32px)]">
                                    <p class="text-base leading-5 font-semibold">Designer:</p>
                                    <div class="mt-4 flex gap-2.5 items-center flex-wrap">
                                        <div class="h-[102px] w-[102px] rounded-[15px]">
                                            <img src="../assets/images/Design-1.png" alt="design1">
                                        </div>
                                        <div class="h-[102px] w-[102px] rounded-[15px]">
                                            <img src="../assets/images/Design_2.png" alt="design2">
                                        </div>
                                        <div class="h-[102px] w-[102px] rounded-[15px]">
                                            <img src="../assets/images/Design_3.png" alt="design3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start gap-2 text-black 2xl:mt-7 mt-5">
                                <div class="2xl:w-[38px] w-8 2xl:h-[38px] h-8 bg-[#FD8387] rounded-full relative">
                                    <img src="../assets/images/youIntersect.png" alt="youIntersect"
                                        class="absolute left-0 bottom-0 2xl:w-auto w-6">
                                </div>
                                <div class="2xl:w-[calc(100%-38px)] w-[calc(100%-32px)]">
                                    <p class="text-base leading-5 font-semibold">You:</p>
                                    <p class="text-sm leading-5 mt-4">Send me the design now, so I will check all these
                                        design
                                        then decide which one is better for me.</p>
                                </div>
                            </div>
                            <!-- for order Details Page 3  -->
                            <div class="flex items-start gap-2 text-black 2xl:mt-7 mt-5">
                                <div class="2xl:w-[38px] w-8 2xl:h-[38px] h-8 bg-[#FD8387] rounded-full relative">
                                    <img src="../assets/images/youIntersect.png" alt="youIntersect"
                                        class="absolute left-0 bottom-0 2xl:w-auto w-6">
                                </div>
                                <div class="2xl:w-[calc(100%-38px)] w-[calc(100%-32px)]">
                                    <p class="text-base leading-5 font-semibold">You:</p>
                                    <p class="text-sm leading-5 mt-4">Rejected the Design no 3</p>
                                    <div
                                        class="w-[99%] rounded-[10px] mt-4 shadow-chatboxmsgShadow p-4 bg-white bg-opacity-90 relative h-[132px] overflow-auto scrollbar-hidden">
                                        <img src="../assets/images/EllipseGray.png" alt="EllipseGray"
                                            class="absolute left-0 bottom-0 z-10">
                                        <img src="../assets/images/EllipseRadish.png" alt="EllipseRadish"
                                            class="absolute bottom-0 left-16">
                                        <div
                                            class="bg-[#ED1C24] w-20 h-4 rounded-lg text-white font-bold text-[10px] z-20 relative float-right text-center">
                                            In Revision</div>
                                        <div class="mt-7 flex gap-4 items-center relative z-20">
                                            <div class="w-14 h-14 rounded-[15px]">
                                                <img src="../assets/images/Design-1.png" alt="design">
                                            </div>
                                            <p class="text-xs leading-[14px] text-black font-inter w-[calc(100%-56px)]">
                                                Shirts designs here, please approve this design, if you don’t like it
                                                then press revision.</p>
                                        </div>
                                    </div>
                                    <div
                                        class="w-[99%] rounded-[10px] mt-4 shadow-chatboxmsgShadow p-4 bg-white bg-opacity-90 relative h-[132px] overflow-auto scrollbar-hidden">
                                        <img src="../assets/images/EllipseGray.png" alt="EllipseGray"
                                            class="absolute left-0 bottom-0 z-10">
                                        <img src="../assets/images/EllipseRadish.png" alt="EllipseRadish"
                                            class="absolute bottom-0 left-16">
                                        <div
                                            class="bg-[#ED1C24] w-20 h-4 rounded-lg text-white font-bold text-[10px] z-20 relative float-right text-center">
                                            In Revision</div>
                                        <div class="mt-7 flex gap-4 items-center relative z-20">
                                            <div class="w-14 h-14 rounded-[15px]">
                                                <img src="../assets/images/Design-1.png" alt="design">
                                            </div>
                                            <p class="text-xs leading-[14px] text-black font-inter w-[calc(100%-56px)]">
                                                Shirts designs here, please approve this design, if you don’t like it
                                                then press revision.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div
                                class="w-full 2xl:h-[86px] h-[58px] border border-[#EAEAEA] 2xl:p-6 p-2 2xl:pr-16 pr-14 relative my-4 rounded-[10px] shadow-tableShadow">
                                <input type="text" placeholder="Type your message"
                                    class="w-full h-full text-sm font-medium leading-[14.5px] font-inter placeholder:text-[#C7C7C7] text-balck focus-visible:outline-none">
                                <button class="absolute 2xl:right-4 right-2">
                                    <img src="../assets/images/chatsend.png" alt="chatsend">
                                </button>
                            </div>
                            <div
                                class="2xl:my-10 lg:my-6 mt-7 flex sm:flex-nowrap flex-wrap sm:gap-2.5 gap-4 items-center">
                                <button
                                    class="2xl:text-lg text-base leading-[21.09px] font-semibold font-roboto bg-[#0FE177] 2xl:py-6 py-3 text-white rounded-[10px] sm:w-1/2 w-full">Approve
                                    Design</button>
                                <button
                                    class="2xl:text-lg text-base leading-[21.09px] font-semibold font-roboto bg-[#ED1C24] 2xl:py-6 py-3 text-white rounded-[10px] sm:w-1/2 w-full">Ask
                                    for Revision</button>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- End Chat Secion -->
            </div>
    </div>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  
  
  