 <!-- Start Side Bar for Mobile -->
 <div id="mobileSideBar"
 class=" sidebarappmobile w-full hidden md:block max-w-[300px] 2xl:max-w-[453 px] bg-white rounded-[30px] shadow-SideMenuShadow h-full fixed z-10">
 <div class="lg:px-9 px-5 py-10 flex flex-col gap-5 h-[90%] overflow-auto scrollbar-hidden">
     <a routerLink="/desing"
         class="w-full h-fourtyNine border border-[#ED1C24] rounded-[10px] px-5 py-4 flex items-center">
         <div class="w-[3px] h-[18px] rounded-[5px] bg-[#ED1C24]"></div>
         <img class="pl-5" src="../assets/images/SideMenuIcon1.svg" alt="iocn">
         <span
             class="font-roboto font-medium text-lg leading-[21.09px] text-customBlack pl-4">Dashboard</span>
     </a>
     <a routerLink="/design"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/designIocn.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4 ">Design</span>
     </a>
     <a routerLink="/production"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/productionIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Production</span>
     </a>
     <a routerLink="/qa"
         class="w-full h-fourtyNine border border-lightOrange rounded-[10px] hover:border-[#ED1C24] hover:font-medium px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/quailtyAssuranceIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Quality
             Assurance</span>
     </a>
     <a routerLink="/shipping"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/shippingIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Shipping</span>
     </a>
     <a routerLink="/delivered"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/DeleverdIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Delivered</span>
     </a>
     <a routerLink="/cancelled"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/cancelIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Cancelled</span>
     </a>
     <a routerLink="/orders">
     <button type="button"
         class="bg-orange flex items-center justify-center gap-2.5 2xl:py-[22px] py-4 rounded-[10px] my-12">
         <div
             class="w-[26px] h-[26px] border-[2px] border-white rounded-full flex items-center justify-center">
             <span class="font-bold text-white relative top-[-2px]">+</span>
         </div>
         <span class="font-roboto 2xl:text-[22px] text-base text-white leading-[25.78px]">Create New
             Order</span>
     </button>
    </a>
 </div>

</div>
<!-- End Side Bar for Mobile -->
<!-- Side bar start -->
<div
 class=" sidebarappdes w-full hidden md:block max-w-[300px] 2xl:max-w-[350px] bg-white shadow-SideMenuShadow h-full fixed">
 <div class="lg:px-9 px-5 py-10 flex flex-col gap-5 h-[90%] overflow-auto scrollbar-hidden">
     <a routerLink="/home"
         class="w-full h-fourtyNine border border-[#ED1C24] rounded-[10px] px-5 py-4 flex items-center">
         <div class="w-[3px] h-[18px] rounded-[5px] bg-[#ED1C24]"></div>
         <img class="pl-5" src="../assets/images/SideMenuIcon1.svg" alt="iocn">
         <span
             class="font-roboto font-medium text-lg leading-[21.09px] text-customBlack pl-4">Dashboard</span>
     </a>
     <a routerLink="/Customers"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/designIocn.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4 ">Customers</span>
     </a>
     <a routerLink="/design"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/designIocn.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4 ">Design</span>
     </a>
     <a routerLink="/production"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/productionIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Production</span>
     </a>
     <a routerLink="/qa"
         class="w-full h-fourtyNine border border-lightOrange rounded-[10px] hover:border-[#ED1C24] hover:font-medium px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/quailtyAssuranceIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Quality
             Assurance</span>
     </a>
     <a routerLink="/shipping"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/shippingIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Shipping</span>
     </a>
     <a routerLink="/delivered"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/DeleverdIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Delivered</span>
     </a>
     <a routerLink="/cancelled"
         class="w-full h-fourtyNine border border-lightOrange hover:border-[#ED1C24] hover:font-medium rounded-[10px] px-5 py-4 flex items-center">
         <img class="2xl:pl-twentyThree" src="../assets/images/cancelIcon.svg" alt="iocn">
         <span class="font-roboto text-lg leading-[21.09px] text-customBlack pl-4">Cancelled</span>
     </a>
     <button type="button"
     class="bg-orange flex items-center justify-center gap-2.5 2xl:py-[22px] py-4 rounded-[10px] my-12">


    <button onclick="document.location='/create-new-order'" class=" create-oder-button  py-2 px-4 rounded inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <path d="M256,0C114.833,0,0,114.833,0,256s114.833,256,256,256s256-114.853,256-256S397.167,0,256,0z M256,472.341    c-119.275,0-216.341-97.046-216.341-216.341S136.725,39.659,256,39.659S472.341,136.705,472.341,256S375.295,472.341,256,472.341z    "/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M355.148,234.386H275.83v-79.318c0-10.946-8.864-19.83-19.83-19.83s-19.83,8.884-19.83,19.83v79.318h-79.318    c-10.966,0-19.83,8.884-19.83,19.83s8.864,19.83,19.83,19.83h79.318v79.318c0,10.946,8.864,19.83,19.83,19.83    s19.83-8.884,19.83-19.83v-79.318h79.318c10.966,0,19.83-8.884,19.83-19.83S366.114,234.386,355.148,234.386z"/>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>                    
        <span>Create New Order</span>
   </button>

 </button>
 </div>

</div>
<!-- Side bar end -->