<!-- Start Header -->
<header
class="header-bg w-full sm:py-5 py-4 px-5 2xl:px-[103px] bg-white flex items-center justify-between shadow-customNavShadow fixed top-0 left-0 z-10 bg-[url('../images/HeaderBackground.png')] bg-no-repeat 2xl:bg-cover bg-auto">
<div class="flex gap-20 md:w-[280px] sm:w-[180px] w-[140px] relative">
    <div class="">
        <img src="../assets/images/logo.svg" alt="logo" class="sm:w-auto w-28">
    </div>
    <div class="bg-gray-50 w-[1px] sm:h-[100px] h-[87px] absolute -top-9 right-0"></div>
</div>
<div class="flex items-center md:gap-[38px] sm:gap-5 gap-3">
    <img src="../assets/images/bell.svg" alt="bellIcon">
    <div class="w-10 h-10 rounded-full bg-[#D9D9D9]">
        <img src="../assets/images/profileImage.png" alt="profileimage">
    </div>
    <div class="md:hidden block" onclick="mobileMenuFunction()">
        <img src="../assets/images/mobile-menu.svg" alt="mobilemenu">
    </div>
</div>
</header>
<!-- End Header -->