<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }

  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--french-violet);
  }

  .pill-group .pill:nth-child(6n + 3),
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--hot-red);
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<div class="dashboardBg bg-no-repeat bg-cover">
  <!-- Start Header -->
  <app-header></app-header>

  <!-- End Header -->
  <div
    class="w-full h-full bg-white flex items-start md:pl-0 pl-5 2xl:pr-20 xl:pr-10 pr-5 2xl:gap-[84px] xl:gap-10 gap-5 sm:mt-[84px] mt-[72px] relative bg-[url('../images/dashboardbodybg.png')] bg-no-repeat bg-cover bg-fixed">
    <button type="button"
      class=" arrow-button w-[38px] h-[38px] rounded-[10px] bg-white md:fixed absolute md:top-28 top-5 2xl:left-[375px] md:left-[280px] flex justify-center items-center">
      <img src="../assets/images/backArrow.png">
    </button>

    <app-navbar></app-navbar>

    <!-- Start DashBoard Body ../assets/images/filterIcon.svg url : .../assets/imagesdashboardbodybg.png-->
    <div class="overflow-hidden mt-5 ml-auto 2xl:w-[calc(100%-388px)] md:w-[calc(100%-320px)] w-full" id="mobileBg">
      <div class="w-full w-dashBoardTCustomWidth pb-20">
        <div
          class="flex items-center justify-between w-full lg:mt-[10px] sm:mt-[30px] lg:mb-14 sm:mb-10 my-6 gap-4 flex-wrap sm:flex-nowrap">
          <h5 class="font-inter font-semibold lg:text-[30px] text-3xl lg:leading-[54px] text-black">Dashboard
          </h5>
          <div class="sm:w-full w-3/5 max-w-[294px] relative text-gray">
            <button type="submit" class="absolute left-2 top-3">
              <img class="text-gray-600 h-4 w-4 fill-current" src="../assets/images/searchIcon.svg" alt="icon">
            </button>
            <input
              class="search-top border-2 w-full border-[#A9A9A9] h-10 pl-7 pr-2 rounded-lg text-sm focus:outline-none placeholder:font-inter placeholder:font-semibold placeholder:leading-6 placeholder:text-base"
              type="search" name="search" placeholder="Search...">
          </div>
          <div class="w-full max-w-[254px] rounded-lg flex items-center justify-center gap-2 p-2 bg-customGray">


            <!-- <span class="text-base font-inter font-semibold text-black leading-6"></span>
                        -->
            <div class="header-filter-buttons flex">
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4   shadow">
                <img src="../assets/images/filterIcon.svg" alt="icon"> Filters
              </button>
              <button
                class=" invite-user bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4  inline-flex items-center">
                + Invite User
              </button>
            </div>

          </div>
        </div>
        <!-- <div class="mt-8">
                  <div class="flex items-center justify-between mb-2">
                      <p class="text-start font-roboto font-medium text-3xl text-[#5D51D6]">Past
                          Orders</p>
                      <a href="#"><img src="../assets/images/dropDownIocn.svg" alt="dropDownIcon"></a>
                  </div>
                  <div class="relative overflow-x-auto scrollbar-hidden">
                      <table
                          class="text-sm text-left rtl:text-right w-full border-separate border-spacing-y-2 min-w-[900px] table-fixed overflow-auto">
                          <thead
                              class="font-roboto font-medium text-fifteen leading-[17.58px] text-black bg-[#D7F9E8]">
                              <tr class="h-[59px]">
                                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 rounded-ss-[15px] w-1/4">
                                      Order ID
                                  </th>
                                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 w-1/4">
                                      Customer Name
                                  </th>
                                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 w-[18%]">
                                      Order Status
                                  </th>
                                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 w-1/4">
                                      Date
                                  </th>
                                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 rounded-se-[15px] w-[5%]">
                                  </th>
                              </tr>
                          </thead>
                          <tbody>
                          @for(order of orders; track order.Id) {
                              <tr
                                  class="h-[59px] font-roboto font-medium text-[#3D3D3D] 2xl:text-lg text-base bg-white">
                                  <th scope="row"
                                      class="2xl:pl-10 pl-4 pr-4 border-r-[10px] border-r-white bg-bgCell border-l-[6px] border-[#0FE277]">
                                      #{{order.Id}}
                                  </th>
                                  <td class="2xl:pl-10 pl-4 pr-4 bg-bgCell border-r-[10px] border-r-white">
                                      {{order.Customer.FirstName}}
                                  </td>
                                  <td
                                      class="2xl:pl-10 pl-4 pr-4 border-r-[10px] border-r-white bg-[#0FE177] text-white">
                                      <p>{{order.Status}}</p>
                                  </td>
                                  <td class="2xl:pl-10 pl-4 pr-4 bg-bgCell border-r-[10px] border-r-white">
                                      {{order.Created}}
                                  </td>
                                  <td class="">
                                      <a href="#" class="flex items-center flex-col gap-[3px]">
                                          <div class="w-three h-three rounded-full bg-black"></div>
                                          <div class="w-three h-three rounded-full bg-black"></div>
                                          <div class="w-three h-three rounded-full bg-black"></div>
                                      </a>
                                  </td>
                              </tr>
                          }
                          </tbody>
                      </table>
                  </div>
              </div> -->

        <div class="dashboard-order-list">
          <div class="flex items-center justify-between mb-2">
            <p class="text-start font-roboto font-medium text-3xl order-heading">Delivered
            </p>
            <a href="#"><img src="../assets/images/dropDownIocn.svg" alt="dropDownIcon"></a>
          </div>
          <div class="relative overflow-x-auto scrollbar-hidden">
            <table
              class="text-sm text-left rtl:text-right w-full border-separate border-spacing-y-2 min-w-[900px] table-fixed overflow-auto">
              <thead
                class="design-header font-roboto font-medium text-fifteen leading-[17.58px] text-black bg-[#F2F1FF]">
                <tr class="h-[59px]">
                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 rounded-ss-[15px] w-1/4">
                    Order ID
                  </th>
                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 w-1/4">
                    Customer Name
                  </th>
                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 w-[18%]">
                    Order Status
                  </th>
                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 w-1/4">
                    Date
                  </th>
                  <th scope="col" class="2xl:pl-10 pl-4 xl:pr-4 pr-1.5 rounded-se-[15px] w-[5%]">
                  </th>
                </tr>
              </thead>
              <tbody class="tbody-tr">

                <tr class="h-[59px] font-roboto font-medium text-[#3D3D3D] 2xl:text-lg text-base">
                  <th scope="row"
                    class="2xl:pl-10 pl-4 pr-4   bg-white border-l-[6px] border-[#5D51D6] border-r-[10px] border-r-white bg-bgCell">
                    #8AB1254478
                  </th>
                  <td class="2xl:pl-10 pl-4 pr-4 bg-bgCell bg-white border-r-[10px] border-r-white">
                    John Doe Albert
                  </td>
                  <td class="blue-bg-box 2xl:pl-4 bg-[#559BFB] border-r-[10px] border-r-white">
                    <p>Design Approved</p>
                  </td>
                  <td class="2xl:pl-10 pl-4 pr-4 bg-bgCell bg-white border-r-[10px] border-r-white">
                    Feb 20,2024
                  </td>
                  <td class=" dot-icon bg-[#fcf3f7]">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Glyph" enable-background="new 0 0 32 32" height="512"
                      viewBox="0 0 32 32" width="512">
                      <path id="XMLID_294_" d="m13 16c0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3-3 1.346-3 3z" />
                      <path id="XMLID_295_" d="m13 26c0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3-3 1.346-3 3z" />
                      <path id="XMLID_297_" d="m13 6c0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3-3 1.346-3 3z" />
                    </svg>
                  </td>
                </tr>

                <tr class="h-[59px] font-roboto font-medium text-[#3D3D3D] 2xl:text-lg text-base">
                  <th scope="row"
                    class="2xl:pl-10 pl-4 pr-4   bg-white border-l-[6px] border-[#5D51D6] border-r-[10px] border-r-white bg-bgCell">
                    #8AB1254478
                  </th>
                  <td class="2xl:pl-10 pl-4 pr-4 bg-bgCell bg-white border-r-[10px] border-r-white">
                    John Doe Albert
                  </td>
                  <td class="blue-bg-box 2xl:pl-4 bg-[#65CCFF] border-r-[10px] border-r-white">
                    <p>Design Approved</p>
                  </td>
                  <td class="2xl:pl-10 pl-4 pr-4 bg-bgCell bg-white border-r-[10px] border-r-white">
                    Feb 20,2024
                  </td>
                  <td class=" dot-icon bg-[#fcf3f7]">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Glyph" enable-background="new 0 0 32 32" height="512"
                      viewBox="0 0 32 32" width="512">
                      <path id="XMLID_294_" d="m13 16c0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3-3 1.346-3 3z" />
                      <path id="XMLID_295_" d="m13 26c0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3-3 1.346-3 3z" />
                      <path id="XMLID_297_" d="m13 6c0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3-3 1.346-3 3z" />
                    </svg>
                  </td>
                </tr>



                @for(design of designs; track design.Id) {
                <tr (click)="openOrderDetailPage()"
                  class="h-[59px] font-roboto font-medium text-[#3D3D3D] 2xl:text-lg text-base bg-white">
                  <th scope="row" (click)="openOrderDetailPage()"
                    class="2xl:pl-10 pl-4 pr-4 border-l-[6px] border-[#5D51D6] bg-bgCell border-r-[10px] border-r-white">
                    #{{design.Id}}
                  </th>
                  <td class="2xl:pl-10 pl-4 pr-4 border-r-[10px] border-r-white bg-bgCell">
                    {{design.Order.Customer.FirstName}}
                  </td>
                  <td class="2xl:pl-10 pl-4 pr-4 border-r-[10px] border-r-white bg-[#65CCFF] text-white">
                    <p>{{design.Order.Status}}</p>
                  </td>
                  <td class="2xl:pl-10 pl-4 pr-4 border-r-[10px] border-r-white bg-bgCell">
                    Feb 20,2024
                  </td>
                  <td class="">
                    <a href="#" class="flex items-center flex-col gap-[3px]">
                      <div class="w-three h-three rounded-full bg-black"></div>
                      <div class="w-three h-three rounded-full bg-black"></div>
                      <div class="w-three h-three rounded-full bg-black"></div>
                    </a>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <!-- End DashBoard Body -->
  </div>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->